In [4]:
import io
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
pd.set_option('display.max_columns',None)

In [6]:
iiptr=pd.read_csv('train_IA_-_train.csv')
iiptr.head()

,Interview Id,Candidate Id,Interviewer Id,Profile,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,P.E.I,P.E.C,COMPLIANCE Ratio,Interview duration,Interviewer Intro,Candidate into,Opp to ask,Status
0,6.913030e+11,2.655774e+09,194,Developer,0.98,0.02,53,88,93,32,88,106,41,66,42,47,13,15,6,Neutral,Neutral,98,37,No,Yes,Yes,Consider
1,9.214326e+11,7.123846e+08,234,Sales,0.67,0.33,51,53,44,36,93,313,28,62,32,52,5,15,4,Neutral,Negative,54,33,No,No,Yes,Consider
2,4.718839e+10,8.445533e+08,267,Program Manager,0.81,0.19,60,77,75,54,52,67,26,14,57,34,4,7,3,Positive,Positive,31,58,No,Yes,No,Consider
3,9.943741e+11,6.511106e+09,199,Marketing,0.69,0.31,93,42,103,49,115,166,62,55,65,75,10,10,7,Positive,Negative,24,35,No,Yes,No,Consider
4,3.509007e+11,3.487001e+09,221,QA Automation,0.57,0.43,44,44,119,66,190,394,7,32,36,74,13,7,3,Negative,Positive,73,60,Yes,Yes,No,Consider

In [7]:
iiptt=pd.read_csv('test_IA_-_test.csv')
iiptt.head()

,Interview Id,Candidate Id,Interviewer Id,Profile,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,P.E.I,P.E.C,COMPLIANCE Ratio,Interview duration,Interviewer Intro,Candidate into,Opp to ask
0,702127796635,2.381365e+09,229,Product Manager,0.52,0.48,103,53,77,30,26.0,287,8,22,69.0,88,5,19.0,4.0,Positive,Negative,24.0,49,Yes,Yes,Yes
1,613490569071,8.428514e+08,194,Product Manager,0.87,0.13,54,57,57,68,179.0,253,62,40,47.0,81,1,9.0,7.0,Positive,Neutral,99.0,24,No,Yes,Yes
2,759998772623,7.681665e+09,266,QA Automation,0.60,0.40,50,117,93,36,137.0,31,40,52,57.0,13,7,15.0,3.0,Negative,Positive,16.0,16,Yes,No,Yes
3,391760082113,6.627808e+09,256,HR,0.52,0.48,102,114,66,31,176.0,242,69,66,59.0,10,10,4.0,6.0,Negative,Neutral,66.0,40,No,No,Yes
4,941599210196,1.148634e+09,267,HR,0.59,0.41,96,73,115,23,218.0,215,69,42,74.0,20,10,4.0,6.0,Positive,Positive,47.0,38,No,Yes,Yes

In [8]:
iiptr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5800 entries, 0 to 5799
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Interview Id        5800 non-null   float64
 1   Candidate Id        5800 non-null   float64
 2   Interviewer Id      5800 non-null   int64
 3   Profile             5800 non-null   object
 4   S.L.R.C             5800 non-null   float64
 5   S.L.R.I             5800 non-null   float64
 6   A.T.T               5800 non-null   int64
 7   L.M.I               5800 non-null   int64
 8   L.M.C               5800 non-null   int64
 9   S.R                 5800 non-null   int64
 10  L.J.T.C             5800 non-null   int64
 11  L.J.T.I             5800 non-null   int64
 12  N.I.C               5800 non-null   int64
 13  N.I.I               5800 non-null   int64
 14  S.P.I               5800 non-null   int64
 15  S.P.C               5800 non-null   int64
 16  L.A.C               5800 non-null   int64
 17  L.A.I               5800 non-null   int64
 18  Q.A                 5800 non-null   int64
 19  P.E.I               5799 non-null   object
 20  P.E.C               5797 non-null   object
 21  COMPLIANCE Ratio    5800 non-null   int64
 22  Interview duration  5800 non-null   int64
 23  Interviewer Intro   5799 non-null   object
 24  Candidate into      5800 non-null   object
 25  Opp to ask          5799 non-null   object
 26  Status              5796 non-null   object
dtypes: float64(4), int64(16), object(7)
memory usage: 1.2+ MB

In [9]:
iiptt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Interview Id        1200 non-null   int64
 1   Candidate Id        1200 non-null   float64
 2   Interviewer Id      1200 non-null   int64
 3   Profile             1200 non-null   object
 4   S.L.R.C             1200 non-null   float64
 5   S.L.R.I             1199 non-null   float64
 6   A.T.T               1200 non-null   int64
 7   L.M.I               1200 non-null   int64
 8   L.M.C               1200 non-null   int64
 9   S.R                 1200 non-null   int64
 10  L.J.T.C             1199 non-null   float64
 11  L.J.T.I             1200 non-null   int64
 12  N.I.C               1200 non-null   int64
 13  N.I.I               1200 non-null   int64
 14  S.P.I               1198 non-null   float64
 15  S.P.C               1200 non-null   int64
 16  L.A.C               1200 non-null   int64
 17  L.A.I               1199 non-null   float64
 18  Q.A                 1199 non-null   float64
 19  P.E.I               1198 non-null   object
 20  P.E.C               1198 non-null   object
 21  COMPLIANCE Ratio    1199 non-null   float64
 22  Interview duration  1200 non-null   int64
 23  Interviewer Intro   1198 non-null   object
 24  Candidate into      1200 non-null   object
 25  Opp to ask          1200 non-null   object
dtypes: float64(8), int64(12), object(6)
memory usage: 243.9+ KB

In [10]:
iiptt['Status']='test'

In [11]:
iiptt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Interview Id        1200 non-null   int64
 1   Candidate Id        1200 non-null   float64
 2   Interviewer Id      1200 non-null   int64
 3   Profile             1200 non-null   object
 4   S.L.R.C             1200 non-null   float64
 5   S.L.R.I             1199 non-null   float64
 6   A.T.T               1200 non-null   int64
 7   L.M.I               1200 non-null   int64
 8   L.M.C               1200 non-null   int64
 9   S.R                 1200 non-null   int64
 10  L.J.T.C             1199 non-null   float64
 11  L.J.T.I             1200 non-null   int64
 12  N.I.C               1200 non-null   int64
 13  N.I.I               1200 non-null   int64
 14  S.P.I               1198 non-null   float64
 15  S.P.C               1200 non-null   int64
 16  L.A.C               1200 non-null   int64
 17  L.A.I               1199 non-null   float64
 18  Q.A                 1199 non-null   float64
 19  P.E.I               1198 non-null   object
 20  P.E.C               1198 non-null   object
 21  COMPLIANCE Ratio    1199 non-null   float64
 22  Interview duration  1200 non-null   int64
 23  Interviewer Intro   1198 non-null   object
 24  Candidate into      1200 non-null   object
 25  Opp to ask          1200 non-null   object
 26  Status              1200 non-null   object
dtypes: float64(8), int64(12), object(7)
memory usage: 253.2+ KB

In [12]:
combinedf=pd.concat([iiptr,iiptt],axis=0) # row wise concatination

In [13]:
combinedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 0 to 1199
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Interview Id        7000 non-null   float64
 1   Candidate Id        7000 non-null   float64
 2   Interviewer Id      7000 non-null   int64
 3   Profile             7000 non-null   object
 4   S.L.R.C             7000 non-null   float64
 5   S.L.R.I             6999 non-null   float64
 6   A.T.T               7000 non-null   int64
 7   L.M.I               7000 non-null   int64
 8   L.M.C               7000 non-null   int64
 9   S.R                 7000 non-null   int64
 10  L.J.T.C             6999 non-null   float64
 11  L.J.T.I             7000 non-null   int64
 12  N.I.C               7000 non-null   int64
 13  N.I.I               7000 non-null   int64
 14  S.P.I               6998 non-null   float64
 15  S.P.C               7000 non-null   int64
 16  L.A.C               7000 non-null   int64
 17  L.A.I               6999 non-null   float64
 18  Q.A                 6999 non-null   float64
 19  P.E.I               6997 non-null   object
 20  P.E.C               6995 non-null   object
 21  COMPLIANCE Ratio    6999 non-null   float64
 22  Interview duration  7000 non-null   int64
 23  Interviewer Intro   6997 non-null   object
 24  Candidate into      7000 non-null   object
 25  Opp to ask          6999 non-null   object
 26  Status              6996 non-null   object
dtypes: float64(9), int64(11), object(7)
memory usage: 1.5+ MB

In [14]:
# Removing un wanted columns
combinedf=combinedf.drop(['Interview Id','Candidate Id','Interviewer Id'],axis=1)

In [15]:
combinedf.isnull().sum().sort_values(ascending=False)

P.E.C                 5
Status                4
Interviewer Intro     3
P.E.I                 3
S.P.I                 2
L.A.I                 1
S.L.R.I               1
Opp to ask            1
L.J.T.C               1
COMPLIANCE Ratio      1
Q.A                   1
Candidate into        0
Interview duration    0
Profile               0
L.A.C                 0
S.L.R.C               0
N.I.I                 0
N.I.C                 0
L.J.T.I               0
S.R                   0
L.M.C                 0
L.M.I                 0
A.T.T                 0
S.P.C                 0
dtype: int64

In [16]:
combinedf['P.E.C'].value_counts(dropna=False)

Neutral     2376
Positive    2353
Negative    2266
NaN            5
Name: P.E.C, dtype: int64

In [17]:
combinedf['P.E.C']=combinedf['P.E.C'].fillna('Neutral')

In [18]:
combinedf.Status.value_counts(dropna=False)

Consider        2311
May Consider    1890
Not Consider    1595
test            1200
NaN                4
Name: Status, dtype: int64

In [19]:
combinedf.Status=combinedf.Status.fillna('Consider')

In [20]:
combinedf['Interviewer Intro'].value_counts(dropna=False)

No     3511
Yes    3486
NaN       3
Name: Interviewer Intro, dtype: int64

In [21]:
combinedf['Interviewer Intro']=combinedf['Interviewer Intro'].fillna('No')

In [22]:
combinedf['P.E.I'].value_counts(dropna=False)

Negative    2413
Positive    2301
Neutral     2283
NaN            3
Name: P.E.I, dtype: int64

In [23]:
combinedf['P.E.I']=combinedf['P.E.I'].fillna('Negative')

In [24]:
combinedf['S.P.I'].value_counts(dropna=False)

46.0    120
87.0    116
72.0    115
52.0    114
56.0    111
       ...
84.0     84
36.0     83
50.0     81
80.0     75
NaN       2
Name: S.P.I, Length: 72, dtype: int64

In [25]:
combinedf['S.P.I']=combinedf['S.P.I'].fillna(46.0)

In [26]:
combinedf['Opp to ask'].value_counts(dropna=False)

Yes    3555
No     3444
NaN       1
Name: Opp to ask, dtype: int64

In [27]:
combinedf['Opp to ask']=combinedf['Opp to ask'].fillna('Yes')

In [28]:
combinedf['S.L.R.I'].value_counts(dropna=False)

0.19    163
0.46    162
0.05    159
0.33    156
0.16    155
0.14    155
0.17    154
0.49    153
0.08    150
0.35    149
0.24    149
0.42    148
0.02    148
0.09    147
0.36    146
0.21    146
0.20    146
0.40    145
0.06    144
0.07    144
0.38    143
0.34    142
0.23    142
0.11    141
0.31    141
0.10    140
0.25    139
0.44    135
0.47    135
0.15    135
0.43    135
0.03    135
0.28    134
0.26    134
0.22    134
0.29    134
0.27    133
0.04    133
0.32    132
0.01    132
0.50    130
0.48    129
0.37    129
0.45    129
0.13    126
0.41    126
0.18    123
0.39    123
0.12    118
0.30    118
NaN       1
Name: S.L.R.I, dtype: int64

In [29]:
combinedf['S.L.R.I']=combinedf['S.L.R.I'].fillna(0.19)

In [30]:
combinedf['COMPLIANCE Ratio'].value_counts(dropna=False)

64.0    92
87.0    92
11.0    90
47.0    89
17.0    88
        ..
26.0    56
1.0     56
97.0    53
29.0    51
NaN      1
Name: COMPLIANCE Ratio, Length: 102, dtype: int64

In [31]:
combinedf['COMPLIANCE Ratio']=combinedf['COMPLIANCE Ratio'].fillna(64.0)

In [32]:
combinedf['L.J.T.C'].value_counts(dropna=False)

193.0    39
277.0    38
295.0    37
104.0    35
73.0     34
         ..
191.0    13
175.0    13
288.0    12
22.0     10
NaN       1
Name: L.J.T.C, Length: 302, dtype: int64

In [33]:
combinedf['L.J.T.C']=combinedf['L.J.T.C'].fillna(193.0)

In [34]:
combinedf['Q.A'].value_counts(dropna=False)

5.0    1203
3.0    1187
6.0    1179
4.0    1176
2.0    1150
7.0    1104
NaN       1
Name: Q.A, dtype: int64

In [35]:
combinedf['Q.A']=combinedf['Q.A'].fillna(5.0)

In [36]:
combinedf['L.A.I'].value_counts(dropna=False)

15.0    376
8.0     375
13.0    374
12.0    367
18.0    366
4.0     365
6.0     363
10.0    354
5.0     354
3.0     350
19.0    348
16.0    341
14.0    340
20.0    339
17.0    339
2.0     338
9.0     336
7.0     333
11.0    324
1.0     317
NaN       1
Name: L.A.I, dtype: int64

In [37]:
combinedf['L.A.I']=combinedf['L.A.I'].fillna(15.0)

In [38]:
combinedf.isnull().sum().sort_values(ascending=False)

Profile               0
S.L.R.C               0
Opp to ask            0
Candidate into        0
Interviewer Intro     0
Interview duration    0
COMPLIANCE Ratio      0
P.E.C                 0
P.E.I                 0
Q.A                   0
L.A.I                 0
L.A.C                 0
S.P.C                 0
S.P.I                 0
N.I.I                 0
N.I.C                 0
L.J.T.I               0
L.J.T.C               0
S.R                   0
L.M.C                 0
L.M.I                 0
A.T.T                 0
S.L.R.I               0
Status                0
dtype: int64

In [39]:
combinedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 0 to 1199
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Profile             7000 non-null   object
 1   S.L.R.C             7000 non-null   float64
 2   S.L.R.I             7000 non-null   float64
 3   A.T.T               7000 non-null   int64
 4   L.M.I               7000 non-null   int64
 5   L.M.C               7000 non-null   int64
 6   S.R                 7000 non-null   int64
 7   L.J.T.C             7000 non-null   float64
 8   L.J.T.I             7000 non-null   int64
 9   N.I.C               7000 non-null   int64
 10  N.I.I               7000 non-null   int64
 11  S.P.I               7000 non-null   float64
 12  S.P.C               7000 non-null   int64
 13  L.A.C               7000 non-null   int64
 14  L.A.I               7000 non-null   float64
 15  Q.A                 7000 non-null   float64
 16  P.E.I               7000 non-null   object
 17  P.E.C               7000 non-null   object
 18  COMPLIANCE Ratio    7000 non-null   float64
 19  Interview duration  7000 non-null   int64
 20  Interviewer Intro   7000 non-null   object
 21  Candidate into      7000 non-null   object
 22  Opp to ask          7000 non-null   object
 23  Status              7000 non-null   object
dtypes: float64(7), int64(10), object(7)
memory usage: 1.3+ MB

In [40]:
#sns.pairplot(combinedf)

In [41]:
# Splitting into numcols and objcols
numcols=combinedf.select_dtypes(include=np.number)
objcols=combinedf.select_dtypes(include='object')

In [42]:
numcols

,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,COMPLIANCE Ratio,Interview duration
0,0.98,0.02,53,88,93,32,88.0,106,41,66,42.0,47,13,15.0,6.0,98.0,37
1,0.67,0.33,51,53,44,36,93.0,313,28,62,32.0,52,5,15.0,4.0,54.0,33
2,0.81,0.19,60,77,75,54,52.0,67,26,14,57.0,34,4,7.0,3.0,31.0,58
3,0.69,0.31,93,42,103,49,115.0,166,62,55,65.0,75,10,10.0,7.0,24.0,35
4,0.57,0.43,44,44,119,66,190.0,394,7,32,36.0,74,13,7.0,3.0,73.0,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.66,0.34,95,118,79,65,294.0,110,61,29,30.0,85,15,20.0,7.0,86.0,49
1196,0.66,0.34,42,47,107,57,54.0,140,35,33,51.0,76,8,18.0,2.0,32.0,32
1197,0.73,0.27,72,105,78,55,247.0,158,30,39,27.0,6,1,18.0,3.0,34.0,19
1198,0.95,0.05,42,45,68,60,97.0,327,65,42,88.0,63,1,9.0,7.0,78.0,23
1199,0.97,0.03,116,48,118,28,197.0,414,25,42,32.0,17,8,2.0,6.0,86.0,60

In [43]:
objcols

,Profile,P.E.I,P.E.C,Interviewer Intro,Candidate into,Opp to ask,Status
0,Developer,Neutral,Neutral,No,Yes,Yes,Consider
1,Sales,Neutral,Negative,No,No,Yes,Consider
2,Program Manager,Positive,Positive,No,Yes,No,Consider
3,Marketing,Positive,Negative,No,Yes,No,Consider
4,QA Automation,Negative,Positive,Yes,Yes,No,Consider
...,...,...,...,...,...,...,...
1195,Marketing,Positive,Negative,Yes,Yes,No,test
1196,Data Scientist,Positive,Negative,No,Yes,No,test
1197,HR,Negative,Negative,Yes,Yes,No,test
1198,Developer,Positive,Negative,No,No,No,test
1199,Sales,Positive,Positive,No,No,Yes,test

In [44]:
objcols.isnull().sum()

Profile              0
P.E.I                0
P.E.C                0
Interviewer Intro    0
Candidate into       0
Opp to ask           0
Status               0
dtype: int64

In [45]:
numcols.isnull().sum()

S.L.R.C               0
S.L.R.I               0
A.T.T                 0
L.M.I                 0
L.M.C                 0
S.R                   0
L.J.T.C               0
L.J.T.I               0
N.I.C                 0
N.I.I                 0
S.P.I                 0
S.P.C                 0
L.A.C                 0
L.A.I                 0
Q.A                   0
COMPLIANCE Ratio      0
Interview duration    0
dtype: int64

In [46]:
objcols = objcols.drop('Status',axis=1)

In [47]:
from sklearn.preprocessing import MinMaxScaler

mm=MinMaxScaler()

numcols_mm=mm.fit_transform(numcols)

numcols_mm=pd.DataFrame(numcols_mm,columns=numcols.columns)

numcols_mm.head()

,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,COMPLIANCE Ratio,Interview duration
0,0.979592,0.020408,0.33,0.6000,0.6625,0.24,0.293333,0.176667,0.553846,0.938462,0.314286,0.494118,0.857143,0.736842,0.8,0.98,0.488889
1,0.346939,0.653061,0.31,0.1625,0.0500,0.32,0.310000,0.521667,0.353846,0.876923,0.171429,0.552941,0.285714,0.736842,0.4,0.54,0.400000
2,0.632653,0.367347,0.40,0.4625,0.4375,0.68,0.173333,0.111667,0.323077,0.138462,0.528571,0.341176,0.214286,0.315789,0.2,0.31,0.955556
3,0.387755,0.612245,0.73,0.0250,0.7875,0.58,0.383333,0.276667,0.876923,0.769231,0.642857,0.823529,0.642857,0.473684,1.0,0.24,0.444444
4,0.142857,0.857143,0.24,0.0500,0.9875,0.92,0.633333,0.656667,0.030769,0.415385,0.228571,0.811765,0.857143,0.315789,0.2,0.73,1.000000

In [48]:
objcols.head()

,Profile,P.E.I,P.E.C,Interviewer Intro,Candidate into,Opp to ask
0,Developer,Neutral,Neutral,No,Yes,Yes
1,Sales,Neutral,Negative,No,No,Yes
2,Program Manager,Positive,Positive,No,Yes,No
3,Marketing,Positive,Negative,No,Yes,No
4,QA Automation,Negative,Positive,Yes,Yes,No

In [49]:
objcols.Profile.value_counts()

Developer          735
Account Manager    731
Sales              705
Program Manager    698
Marketing          697
QA Automation      697
QA Manual          693
HR                 684
Product Manager    681
Data Scientist     679
Name: Profile, dtype: int64

In [50]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Define the columns to be label encoded
columns_to_encode = ['Profile', 'P.E.I', 'P.E.C', 'Interviewer Intro', 'Candidate into', 'Opp to ask']

# Apply Label Encoding to each column
for col in columns_to_encode:
    objcols[col] = label_encoder.fit_transform(objcols[col])

# Now, 'data' will have new columns with '_encoded' suffix containing numerical labels

In [51]:
objcols

      Profile  P.E.I  P.E.C  Interviewer Intro  Candidate into  Opp to ask
0           2      1      1                  0               1           1
1           9      1      0                  0               0           1
2           6      2      2                  0               1           0
3           4      2      0                  0               1           0
4           7      0      2                  1               1           0
...       ...    ...    ...                ...             ...         ...
1195        4      2      0                  1               1           0
1196        1      2      0                  0               1           0
1197        3      0      0                  1               1           0
1198        2      2      0                  0               0           0
1199        9      2      2                  0               0           1

[7000 rows x 6 columns]

In [52]:
combinedf_clean=pd.concat([numcols_mm.reset_index(),objcols.reset_index(),combinedf.Status.reset_index()],axis=1)
combinedf_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               7000 non-null   int64
 1   S.L.R.C             7000 non-null   float64
 2   S.L.R.I             7000 non-null   float64
 3   A.T.T               7000 non-null   float64
 4   L.M.I               7000 non-null   float64
 5   L.M.C               7000 non-null   float64
 6   S.R                 7000 non-null   float64
 7   L.J.T.C             7000 non-null   float64
 8   L.J.T.I             7000 non-null   float64
 9   N.I.C               7000 non-null   float64
 10  N.I.I               7000 non-null   float64
 11  S.P.I               7000 non-null   float64
 12  S.P.C               7000 non-null   float64
 13  L.A.C               7000 non-null   float64
 14  L.A.I               7000 non-null   float64
 15  Q.A                 7000 non-null   float64
 16  COMPLIANCE Ratio    7000 non-null   float64
 17  Interview duration  7000 non-null   float64
 18  index               7000 non-null   int64
 19  Profile             7000 non-null   int32
 20  P.E.I               7000 non-null   int32
 21  P.E.C               7000 non-null   int32
 22  Interviewer Intro   7000 non-null   int32
 23  Candidate into      7000 non-null   int32
 24  Opp to ask          7000 non-null   int32
 25  index               7000 non-null   int64
 26  Status              7000 non-null   object
dtypes: float64(17), int32(6), int64(3), object(1)
memory usage: 1.3+ MB

In [53]:
combinedf_clean=combinedf_clean.drop('index',axis=1)

In [54]:
combinedf_clean

,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,COMPLIANCE Ratio,Interview duration,Profile,P.E.I,P.E.C,Interviewer Intro,Candidate into,Opp to ask,Status
0,0.979592,0.020408,0.33,0.6000,0.6625,0.24,0.293333,0.176667,0.553846,0.938462,0.314286,0.494118,0.857143,0.736842,0.8,0.98,0.488889,2,1,1,0,1,1,Consider
1,0.346939,0.653061,0.31,0.1625,0.0500,0.32,0.310000,0.521667,0.353846,0.876923,0.171429,0.552941,0.285714,0.736842,0.4,0.54,0.400000,9,1,0,0,0,1,Consider
2,0.632653,0.367347,0.40,0.4625,0.4375,0.68,0.173333,0.111667,0.323077,0.138462,0.528571,0.341176,0.214286,0.315789,0.2,0.31,0.955556,6,2,2,0,1,0,Consider
3,0.387755,0.612245,0.73,0.0250,0.7875,0.58,0.383333,0.276667,0.876923,0.769231,0.642857,0.823529,0.642857,0.473684,1.0,0.24,0.444444,4,2,0,0,1,0,Consider
4,0.142857,0.857143,0.24,0.0500,0.9875,0.92,0.633333,0.656667,0.030769,0.415385,0.228571,0.811765,0.857143,0.315789,0.2,0.73,1.000000,7,0,2,1,1,0,Consider
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.326531,0.673469,0.75,0.9750,0.4875,0.90,0.980000,0.183333,0.861538,0.369231,0.142857,0.941176,1.000000,1.000000,1.0,0.86,0.755556,4,2,0,1,1,0,test
6996,0.326531,0.673469,0.22,0.0875,0.8375,0.74,0.180000,0.233333,0.461538,0.430769,0.442857,0.835294,0.500000,0.894737,0.0,0.32,0.377778,1,2,0,0,1,0,test
6997,0.469388,0.530612,0.52,0.8125,0.4750,0.70,0.823333,0.263333,0.384615,0.523077,0.100000,0.011765,0.000000,0.894737,0.2,0.34,0.088889,3,0,0,1,1,0,test
6998,0.918367,0.081633,0.22,0.0625,0.3500,0.80,0.323333,0.545000,0.923077,0.569231,0.971429,0.682353,0.000000,0.421053,1.0,0.78,0.177778,2,2,0,0,0,0,test
6999,0.959184,0.040816,0.96,0.1000,0.9750,0.16,0.656667,0.690000,0.307692,0.569231,0.171429,0.141176,0.500000,0.052632,0.8,0.86,1.000000,9,2,2,0,0,1,test

In [55]:
iitr=combinedf_clean[combinedf_clean.Status!='test']
iitt=combinedf_clean[combinedf_clean.Status=='test']

In [56]:
iitt=iitt.drop('Status',axis=1)

In [57]:
X=iitr.drop('Status',axis=1)
y=iitr.Status

In [58]:
X

,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,COMPLIANCE Ratio,Interview duration,Profile,P.E.I,P.E.C,Interviewer Intro,Candidate into,Opp to ask
0,0.979592,0.020408,0.33,0.6000,0.6625,0.24,0.293333,0.176667,0.553846,0.938462,0.314286,0.494118,0.857143,0.736842,0.8,0.98,0.488889,2,1,1,0,1,1
1,0.346939,0.653061,0.31,0.1625,0.0500,0.32,0.310000,0.521667,0.353846,0.876923,0.171429,0.552941,0.285714,0.736842,0.4,0.54,0.400000,9,1,0,0,0,1
2,0.632653,0.367347,0.40,0.4625,0.4375,0.68,0.173333,0.111667,0.323077,0.138462,0.528571,0.341176,0.214286,0.315789,0.2,0.31,0.955556,6,2,2,0,1,0
3,0.387755,0.612245,0.73,0.0250,0.7875,0.58,0.383333,0.276667,0.876923,0.769231,0.642857,0.823529,0.642857,0.473684,1.0,0.24,0.444444,4,2,0,0,1,0
4,0.142857,0.857143,0.24,0.0500,0.9875,0.92,0.633333,0.656667,0.030769,0.415385,0.228571,0.811765,0.857143,0.315789,0.2,0.73,1.000000,7,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5795,0.163265,0.836735,0.32,0.1375,0.9875,0.44,0.913333,0.166667,0.123077,0.153846,0.557143,0.011765,0.357143,0.631579,0.6,0.16,0.222222,4,0,1,1,1,0
5796,0.387755,0.612245,0.14,0.5125,0.9375,0.62,0.036667,0.668333,0.215385,0.000000,0.714286,0.094118,0.357143,0.105263,0.8,0.23,0.555556,8,2,0,1,1,0
5797,0.285714,0.714286,0.38,0.2250,0.0375,0.44,0.476667,0.400000,0.830769,0.892308,0.842857,0.847059,0.142857,0.947368,0.2,0.60,0.066667,5,0,1,0,1,0
5798,0.897959,0.102041,0.84,0.1875,0.9250,0.96,0.276667,0.863333,0.461538,0.753846,0.471429,0.470588,0.714286,0.684211,0.2,0.61,0.622222,9,1,2,1,1,1
5799,0.673469,0.326531,0.82,0.5875,0.6625,0.24,0.460000,0.953333,0.969231,0.846154,0.700000,0.882353,0.142857,0.000000,0.6,0.72,0.044444,2,1,0,0,0,0

In [59]:
y

0           Consider
1           Consider
2           Consider
3           Consider
4           Consider
            ...
5795        Consider
5796        Consider
5797    May Consider
5798        Consider
5799    May Consider
Name: Status, Length: 5800, dtype: object

In [60]:
y.value_counts()

Consider        2315
May Consider    1890
Not Consider    1595
Name: Status, dtype: int64

In [61]:
from sklearn.preprocessing import LabelEncoder

In [62]:
le=LabelEncoder()

In [63]:
y=le.fit_transform(y)

In [64]:
from sklearn.linear_model import LogisticRegression

In [65]:
reg=LogisticRegression(max_iter=400)

In [66]:
regmodel=reg.fit(X,y)

In [67]:
regmodel.score(X,y)

0.9901724137931035

In [68]:
regpredict_X=regmodel.predict(X)

In [69]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [70]:
cross_val_score(reg,X,y)

array([0.98534483, 0.98706897, 0.98362069, 0.98103448, 0.98103448])

In [71]:
np.mean([0.98534483, 0.98706897, 0.98362069, 0.98103448, 0.98103448])

0.9836206900000001

In [72]:
#import pickle

In [73]:
#pickle.dump(reg,open('reg1.pkl','wb'))

In [74]:
#pickle_model = pickle.load(open('reg1.pkl','rb'))

In [97]:
X.head(5)

,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,COMPLIANCE Ratio,Interview duration,Profile,P.E.I,P.E.C,Interviewer Intro,Candidate into,Opp to ask
0,0.979592,0.020408,0.33,0.6000,0.6625,0.24,0.293333,0.176667,0.553846,0.938462,0.314286,0.494118,0.857143,0.736842,0.8,0.98,0.488889,2,1,1,0,1,1
1,0.346939,0.653061,0.31,0.1625,0.0500,0.32,0.310000,0.521667,0.353846,0.876923,0.171429,0.552941,0.285714,0.736842,0.4,0.54,0.400000,9,1,0,0,0,1
2,0.632653,0.367347,0.40,0.4625,0.4375,0.68,0.173333,0.111667,0.323077,0.138462,0.528571,0.341176,0.214286,0.315789,0.2,0.31,0.955556,6,2,2,0,1,0
3,0.387755,0.612245,0.73,0.0250,0.7875,0.58,0.383333,0.276667,0.876923,0.769231,0.642857,0.823529,0.642857,0.473684,1.0,0.24,0.444444,4,2,0,0,1,0
4,0.142857,0.857143,0.24,0.0500,0.9875,0.92,0.633333,0.656667,0.030769,0.415385,0.228571,0.811765,0.857143,0.315789,0.2,0.73,1.000000,7,0,2,1,1,0

In [98]:
iiptr.head(5)

,Interview Id,Candidate Id,Interviewer Id,Profile,S.L.R.C,S.L.R.I,A.T.T,L.M.I,L.M.C,S.R,L.J.T.C,L.J.T.I,N.I.C,N.I.I,S.P.I,S.P.C,L.A.C,L.A.I,Q.A,P.E.I,P.E.C,COMPLIANCE Ratio,Interview duration,Interviewer Intro,Candidate into,Opp to ask,Status
0,6.913030e+11,2.655774e+09,194,Developer,0.98,0.02,53,88,93,32,88,106,41,66,42,47,13,15,6,Neutral,Neutral,98,37,No,Yes,Yes,Consider
1,9.214326e+11,7.123846e+08,234,Sales,0.67,0.33,51,53,44,36,93,313,28,62,32,52,5,15,4,Neutral,Negative,54,33,No,No,Yes,Consider
2,4.718839e+10,8.445533e+08,267,Program Manager,0.81,0.19,60,77,75,54,52,67,26,14,57,34,4,7,3,Positive,Positive,31,58,No,Yes,No,Consider
3,9.943741e+11,6.511106e+09,199,Marketing,0.69,0.31,93,42,103,49,115,166,62,55,65,75,10,10,7,Positive,Negative,24,35,No,Yes,No,Consider
4,3.509007e+11,3.487001e+09,221,QA Automation,0.57,0.43,44,44,119,66,190,394,7,32,36,74,13,7,3,Negative,Positive,73,60,Yes,Yes,No,Consider

In [80]:
iiptr['P.E.I'].value_counts()

Negative    2004
Neutral     1900
Positive    1895
Name: P.E.I, dtype: int64

In [81]:
iiptr['P.E.C'].value_counts()

Neutral     1971
Positive    1941
Negative    1885
Name: P.E.C, dtype: int64

In [94]:
iiptr.Profile.sort_values(ascending=True).value_counts()

Developer          618
Account Manager    598
QA Manual          585
Sales              585
QA Automation      577
Marketing          574
Product Manager    571
Program Manager    568
Data Scientist     566
HR                 558
Name: Profile, dtype: int64

In [99]:
y

array([0, 0, 0, ..., 1, 0, 1])

In [100]:
iiptr.Status.value_counts()

Consider        2311
May Consider    1890
Not Consider    1595
Name: Status, dtype: int64

In [101]:
iiptr.Status.tail()

5795             NaN
5796        Consider
5797    May Consider
5798        Consider
5799    May Consider
Name: Status, dtype: object